
<body id="page-top">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Challenging the status quo</h1>
                <hr>
                <p>I'm Manuel Quintanilla, a UI & UX Designer with a passion for Ruby on Rails.
                </p>
                <img src="assets/portfolio/333.jpg" alt="..." class="img-circle">
            </div>
            <br />
            <br />
            <div class="col-md-12">
                <ul class="social-network social-circle">
                    <li><a href="https://twitter.com/alloffices" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/pub/manuel-quintanilla/54/387/245" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://github.com/alloffices" class="icogithub" title="Github"><i class="fa fa-github"></i></a></li>
                </ul>               
            </div>
        </div>
    </header>
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                        <img /src="assets/portfolio/1.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-lg-4 col-sm-6">
                        <img src="assets/portfolio/2.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-lg-4 col-sm-6">
                        <img src="assets/portfolio/3.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-lg-4 col-sm-6">
                        <img src="assets/portfolio/4.jpg" class="img-responsive" alt="">

                </div>
                <div class="col-lg-4 col-sm-6">
                        <img src="assets/portfolio/5.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-lg-4 col-sm-6">
                        <img src="assets/portfolio/6.jpg" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
</body>